---
interface Props {
  title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Astro description"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
</head>
<body>
<slot/>
</body>
</html>

<style is:global>
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --color-primary: #fff;
    --color-secondary: #ccc;
    --color-tertiary: #aaa;
    --color-text: #fff;
    --color-background: #000;
  }

  html {
    color: var(--color-text);
  }

  body::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 2rem; /* Ajusta este valor según sea necesario */
      z-index: -1;
      background: url("/images/background.jpg") no-repeat center center fixed;
      background-size: cover;
      //object-position: center;
  }


</style>
